PORT=8080
DB_HOST=localhost
DB_PORT=5433
DB_USER=
DB_PASSWORD=
DB_NAME=
# Set to "require" for production (Railway, Supabase, etc.)
DB_SSL_MODE=disable
APP_ENV=development
ANTHROPIC_API_KEY=
JWT_SECRET=
